@charset "UTF-8";
/*
* @Author: liyue2018
* @Date:   2018-06-10 16:24:03
* @Last Modified by:   liyue2018
* @Last Modified time: 2018-06-11 00:26:31
*/
/* 搜索结果页面 */
.mui-content {
  background: #fff; }

.main-content {
  padding: 0 10px; }

.result-filter {
  padding: 10px 0; }
  .result-filter .filter-item {
    text-align: center;
    height: 36px;
    line-height: 35px;
    font-size: 14px; }
